body {
  margin: 0;
  background: #e9ae76;
  color: white;
  text-shadow: 0.1rem 0.1rem 0.2rem black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  overflow: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.root {
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.flex {
  display: flex;
}

.marginRight {
  margin-right: 1rem;
}

input {
  padding: 0.3rem;
}

h1 {
  margin: 0;
}

.feather-zap-off {
  display: none;
  color: red;
  width: 0.75em;
  height: 0.75em;
  filter: drop-shadow(0.1rem 0.1rem 0.15rem rgba(0, 0, 0, 0.5));
  margin-top: 1em;
}

#toggle {
  color: white;
  width: 5rem;
  height: 5rem;
  background: none;
  border: none;
  filter: drop-shadow(0.1rem 0.1rem 0.15rem black);
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  transition: all 0.5s;
}

#toggle:focus {
  outline: none;
  filter: drop-shadow(0.1rem 0.1rem 0.35rem black);
}

#toggle.on:focus {
  filter: drop-shadow(0.1rem 0.1rem 0.5rem lime);
}

#toggle.off:focus {
  filter: drop-shadow(0.1rem 0.1rem 0.5rem red);
}

.days {
  width: 80vw;
  max-width: 25rem;
  justify-content: space-between;
}

.days .day {
  /* padding: 1.5rem; */
  flex-direction: column;
  align-items: center;
}

.days .day label {
  margin-bottom: 1rem;
}

.days .day input {
  transform: scale(1.5);
}
